# Diretórios gerais a ignorar
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.lock.json
*.log
*.swp
.DS_Store

# Dependências
node_modules/
jspm_packages/
bower_components/
packages/
.npm/
.yarn-integrity
/.angular/cache

# C# - .NET
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
*.exe
*.dll
*.pdb
*.min.*
*.nupkg
*.cache
*.dotCover
*.coverage
*.pidb
*.userprefs
*.aps
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
_ReSharper*/
*.resharper
*.sln.ide
project.lock.json
*.jfm
*.pubxml
*.pyc
*.pyo
*.pyd

# Angular
/dist/
/tmp/
/out-tsc/
/.angular/
/aot/
*.ngsummary.json
*.ngfactory.ts
*.ngstyle.ts
*.ngschema.json
*.css.shim.ts
*.js.map
*.js
*.d.ts
/build/
/server/

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
*.iml

# Logs e relatórios
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage/
/Reports/

# Sistema operacional
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

# Testes
/test-results/
/TestResults/
*.trx

# Cypress
/cypress/videos/
/cypress/screenshots/

# Editor
*.sw?